html {
  font-family: Montserrat, sans-serif;
}

.logo-text {
  font-family: Signika, sans-serif;
}

.nav a {
  color: #162649;
  text-decoration: none;
}

.nav a:hover {
  color: #06b8c5;
}

.nav a:focus {
  outline: 3px solid #000;
}

.btn {
  background-color: #23a7c9;
  border-color: #23a7c9;
  color: #fff;
  border-radius: 10px;
}

.btn:hover {
  background-color: #fff;
  border-color: #23a7c9;
  color: #23a7c9;
}

.btn-ghost {
  background-color: #fff;
  border-color: #23a7c9;
  color: #23a7c9;
}

.btn-ghost:hover {
  background-color: #23a7c9;
  border-color: #23a7c9;
  color: #fff;
}

.btn-dark {
  background-color: #23a7c9;
  border-color: #162649;
  color: #162649;
}

.btn-dark:hover {
  background-color: #162649;
  border-color: #162649;
  color: #fff;
}

.call-to-action {
  background-color: #e7aa00;
}

.value-proposition {
  color: #fff;
  font-family: Signika, sans-serif;
}

.quote {
  background-color: rgb(186, 189, 194);
}

.small-banner {
  background-color: #23a7c9;
}

.footer {
  background-color: #162649;
  color: #fff;
}

.white {
  color: #fff;
}

.blue {
  color: #162649;
}

@media only screen and (min-width: 35em) {

  .about-content {
    bottom: 0;
    position: absolute;
    width: 100%;
  }

}
